.menu {
    @apply fixed justify-between bottom-0 left-1/2 right-0 max-w-[480px] w-full flex pt-3  pb-3 px-6 bg-white rounded-xl;
    transform: translateX(-50%);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.column {
    &:nth-child(2) {
        justify-content: center;
    }
    &:nth-child(3) {
        justify-content: end;
    }

    @apply flex gap-4 flex-1;
}

.link {
    @apply flex flex-col items-center text-xs gap-1;

}

.icon {
    @apply w-6 h-6;
}