
.item {
    @apply relative flex items-center p-4 bg-white rounded-xl mb-2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.icon {
    @apply w-10 flex items-center justify-center rounded-[50%] aspect-square font-bold mr-4;
    background-color: #f0f0f0;
}

.details {
    flex: 1;
}

.title {
    @apply font-bold text-base mb-1;
}

.info {
    @apply text-xs font-light text-gray-500;
}

.amount {
    @apply font-semibold text-sm self-end;
}


.deleteBtn {
    @apply absolute top-2 right-0 py-1 px-3 text-gray-500 text-sm;
}
