.button {
    @apply text-white text-base py-2 px-4 rounded cursor-pointer;
    transition: .3s all ease;

    &-primary {
        background-color: var(--color-primary);
    }

    &-secondary {

    }

    &-danger {
        background-color: var(--danger);
    }

    &-large {
        @apply w-full;
    }
}