.form {
    @apply bg-white flex flex-col justify-between p-3 rounded-md;
    grid-column: -2/-1;
    box-shadow: 0 1px 1px rgb(138, 137, 137);
}

.input {
    @apply font-bold outline-none;
}

.textarea {
    @apply outline-none border-t border-t-gray-300 resize-none overflow-hidden text-xs pt-4;
}

.submitButton {
    margin-left: auto;
}


.errorMessage {
    @apply text-red-500 text-[10px];
}