@use './mixins';


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
	scroll-behavior: smooth;
}

body {
	color: var(--text-color);
	font-family: var(--font-main);
	font-size: 14px;
	text-wrap: balance;
	@include mixins.small-mobile {
		font-size: 12px;
	}
}


img {
	display: block;
	object-fit: cover;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}

.income {
	color: var(--color-accent-green);
}

.expense {
	color: var(--color-accent-red);
}


//common styles
.flex-between {
	@apply flex justify-between;
}
.input,
.select {
    @apply bg-gray-100 border border-gray-100 text-xs rounded-lg focus:border-gray-500 block min-w-full p-3;
}

.input-error {
    border: 1px solid red !important;
}

.message-error {
    text-align: center;
    color: red;
    font-size: 12px;
}

.message-success {
	color: var(--color-accent-green);
	font-size: 12px;
}

/* Lower the styles for Safari browser, as it's displaying incorrectly */

.select {
    @apply bg-gray-100 border border-gray-100 text-xs rounded-lg focus:border-gray-500 block min-w-full;
    appearance: none;
    padding: 0.75rem !important;
}


.input[type="date"] {
    @apply appearance-none bg-gray-100 border border-gray-100 text-xs rounded-lg focus:border-gray-500 block w-full p-3; //appearance-none = remove default styles
    -webkit-appearance: none !important; 
    -webkit-padding-start: 0.75rem !important; /* Префикс для Safari */
    -webkit-padding-end: 0.75rem !important; /* Префикс для Safari */
    position: relative;
    padding: 0.75rem !important;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-image: url('/src/assets/icons/calendar.png'); //add calendar icon
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 20px 20px; 
}

input[type="date"]:invalid {
    padding: 0.75rem !important; /* padding for empty value */
}
//Hide default date icon. Скрываем стандартную иконку
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


