:root {
	--container-width: 1000px;
	--container-padding: 15px;

	--font-main: "Poppins", sans-serif;

	--text-color: #35323b;

	--page-bg: #fafbfc;

	
	--color-primary: #864af9;
	--color-primary-light: #ab81fb;
	--color-accent-yellow: #ffe9b1;
	--color-accent-red: #fa744b;
	--color-accent-green: #4be650;
	--color-heading: #3c3587;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}	