:root {
	--container-width: 1000px;
	--container-padding: 15px;

	--font-main: "Poppins", sans-serif;

	--font-titles: var(--font-accent);

	--page-bg: linear-gradient(180deg, #cae8ff 0%, #e1e8ed 12.69%);
	--text-color: #35323b;

	//new!!!
	--color-primary: #864af9;
	--color-primary-light: #ab81fb;
	--color--accent-yellow: #ffe9b1;
	--color-accent-red: #fa744b;
	--color-accent-green: #4be650;
	--color-heading: #3c3587;





	--support-color: #013F0F;

	--danger: rgb(250, 116, 75);
	--link-color: #2578c8;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}	