.formGroup {
    @apply mt-3;
}

.amount {
    @apply flex flex-col gap-5;
}

.type {
    @apply flex mt-3 bg-gray-100 rounded-lg border;
}

.display {
    @apply flex justify-center items-end text-5xl mt-7 font-medium;
    span {
        @apply text-xl;
    }
}

.button {
    @apply flex-1 p-3 rounded-lg  bg-white text-xs border border-gray-100  focus:outline-none;
}

.buttonExpense {
    background-color: var(--color-accent-red);
}

.buttonIncome {
    background-color: var(--color-accent-green);
}

.submitButton {
    @apply mt-7 w-full p-3 text-white rounded-full cursor-pointer bg-gray-800 text-xs;
    transition: 0.7 ease;
    &:hover {
        opacity: 0.9;
    }
}

.addButton {
    @apply py-2 px-4 rounded-md bg-gray-800  text-white;
    transition: 0.7 ease;
    &:hover {
        opacity: 0.9;
    }
}

.helperText {
    @apply mt-1 text-xs;
}




